<template name="Home">

    <div class="col-sm-12">

        <div align="center">
            <h3>Welcome to</h3>
            <h1 class="agilitytitle"><b><i class="fa fa-paw"></i> Agility Tracks</b> <br/>
                <small><i>Track your Agility Dog's info with ease!</i></small>
            </h1>
            <br/>
            <hr>
        </div>
    </div>

    <div class="col-sm-4 col-xs-12 detailbox">
        <div align="center">
            <h3><i class="fa fa-line-chart"></i> <b> Tracking</b></h3>
            <p>Effortlessly keep track of your dogs data and make sure you are on track to improve!</p>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 detailbox">
        <div align="center">
            <h3><i class="fa fa-trophy"></i> <b>Qualifications</b></h3>
            <p>Tired of tracking all your qualifications by hand? Agility Tracks automatically calculates MACH points,
                Double Q’s and YPS for you!</p>
        </div>
    </div>

    <div class="col-sm-4 col-xs-12 detailbox">
        <div align="center">
            <h3><i class="fa fa-laptop"></i> <b>Everywhere</b> <i class="fa fa-mobile"></i></h3>
            <p>Agility Tracks is available on iOS, Android, and the Web, so you can keep track your dogs from
                anywhere</p>
        </div>
    </div>
</template>
