<template name="Home">
    <!--TODO come up with better homepage-->
    <div class="col-sm-12">

        <div align="center">
            <h3>Welcome to</h3>
            <h1 class="agilitytitle"><b><i class="fa fa-tasks"></i> mBudget</b> <br/>
                <small><i>No frills budget tracking</i></small>
            </h1>
            <br/>
            <hr>
        </div>
    </div>

    <div class="col-sm-4 col-xs-12 detailbox">
        <div align="center">
            <h3><i class="fa fa-line-chart"></i> <b> Tracking</b></h3>
            <p>Enter in Transactions and see your budget updated in real time</p>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 detailbox">
        <div align="center">
            <h3><i class="fa fa-money"></i> <b>Flexible</b></h3>
            <p>Budgetting for 3 months instead of one?  No problem.  Want to split
                transactions into multiple categories? Sure!</p>
        </div>
    </div>

    <div class="col-sm-4 col-xs-12 detailbox">
        <div align="center">
            <h3><i class="fa fa-laptop"></i> <b>Everywhere</b> <i class="fa fa-mobile"></i></h3>
            <p>mBudget is available on iOS, Android, and the Web, so you can keep on top of your budget at all times</p>
        </div>
    </div>
</template>
